%tr
  %td.feature-in-list
    %p.feature-in-list-title
      %strong{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "right"}
        = feature.title
    %p
      - unless (feature.link == nil)
        - if (feature.link.to_s.start_with?("https://docs.gitlab.com"))
          = link_to "Documentation", feature.link
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com"))
          = link_to "Feature details", feature.link
        - else
          = link_to "Feature details", feature.link
  %td.check-container.text-center
    - if (feature.public_send(key_one) == "partially")
      = partial "includes/icons/comparison/maybe-icon.svg"
    - if (feature.public_send(key_one) == true)
      = partial "includes/icons/comparison/yes-icon.svg"
    - if (feature.public_send(key_one) == false)
      = partial "includes/icons/comparison/no-icon.svg"
  %td.check-container.text-center
    - if (feature.public_send(key_two) == "partially")
      = partial "includes/icons/comparison/maybe-icon.svg"
    - if (feature.public_send(key_two) == true)
      = partial "includes/icons/comparison/yes-icon.svg"
    - if (feature.public_send(key_two) == false)
      = partial "includes/icons/comparison/no-icon.svg"
  %td.check-container.text-center
    - if (feature.public_send(key_three) == "partially")
      = partial "includes/icons/comparison/maybe-icon.svg"
    - if (feature.public_send(key_three) == true)
      = partial "includes/icons/comparison/yes-icon.svg"
    - if (feature.public_send(key_three) == false)
      = partial "includes/icons/comparison/no-icon.svg"
  %td.check-container.text-center
    - if (feature.public_send(key_four) == "partially")
      = partial "includes/icons/comparison/maybe-icon.svg"
    - if (feature.public_send(key_four) == true)
      = partial "includes/icons/comparison/yes-icon.svg"
    - if (feature.public_send(key_four) == false)
      = partial "includes/icons/comparison/no-icon.svg"
